.TabelasProdutos table {
    width: 100%;
}
.TabelasProdutos th {
    background-color: #0a4444;
    color: #fff;
}

.TabelasProdutos .Par {
    background-color: #ddd;
}

.TabelasProdutos .Impar {
    background-color: #ccc;
}